<div id="screenTop"></div>
<page-title ng-if="layoutOptions.pageTitles" title="User Accounts" description=""></page-title>


<script type="text/ng-template" id="delete-user-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Delete User</h4>
	</div>
	
	<div class="modal-body form-horizontal">
		Are you sure you want to delete this user: <b><i>{{deleteModalText}}</i></b>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cancel</button>
		<button type="button" class="btn btn-danger" ng-click="currentModal.dismiss('delete');">Delete</button>
	</div>
</script>

<div ng-controller="adminController">

    <div class="panel panel-default">
        <div class="panel-heading">

            <h3 class="panel-title"><i class="fa-users"></i>&nbsp&nbspUsers</h3>
            <!--<div class="pull-right isn-panel-pull-right" ng-show="checkPolicy('/app/admin-users',1,1,1,1)"> CHECK POLICY-->
            <div class="pull-right">
                <div class="btn btn-secondary" ng-click="newUser()">New</div>
            </div>
        </div>
        <div class="panel-body">
            <!--<table datatable="" id="users_table" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table-condensed focus-on row-border hover table table-striped table-bordered">
		   -->
            <table id="usersTable" datatable="ng" class="hover table table-small-font table-bordered table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr role="row">
                        <th>User Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                    <tr ng-repeat="user in users | filter:search_txt " scroll-to="screenEdit" ng-click="edit(user.userName)">
                        <td>{{user.userName}}</td>
                        <td>{{user.phoneNumber}}</td>
                        <td>{{user.email}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default" ng-style="hideEditForm">
        <div id="screenEdit"></div>
        <form role="form" id="userForm" name="userForm" class="form-horizontal validate">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{formTitle}}</h3>
                    <br />
                    <h3 class="panel-title">Dirty : {{userForm.$dirty}}</h3>
                    <div class="pull-right isn-panel-pull-right">
                        <div class="btn btn-white" ng-click="cancel()">Cancel</div>
                    </div>
                    <div class="pull-right isn-panel-pull-right pull-right-stack">
                        <div type="submit" class="btn btn-primary" ng-class="{true: 'disabled', false: ''}[user_modified == false]" ng-click="saveUser()">Save<span ng-show="user.is_saving">&nbsp&nbsp<i class=""><span class="fa fa-spin fa-cog"></span></i></span></div>
                    </div>
                    <div ng-show="userForm.$dirty" class="control-label">
                        Changes Pending... 
                    </div>
                    {{userForm.email.$dirty}}
                </div>
                <div class="panel-body">
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
						</alert>

                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="userName">Username:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="userName" ng-model="user.userName" data-validate="required" placeholder="Username. Required for login.">
                        </div>
                    </div>
                    <div class="form-group">

  
                        <label class="col-sm-5 control-label" for="password">Password:</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" name="password" ng-model="user.password" data-validate="required" placeholder="Password field is required.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="confirmPassword">Confirm Password:</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" name="confirmPassword" ng-model="user.confirmPassword" data-validate="required" placeholder="Confirm Password field is required." data-message-required="Passwords don't match" novalidate="novalidate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="userEmail">Email:</label>

                        <div class="col-sm-7">
                            <input type="email" class="form-control" name="userEmail" ng-model="user.email" data-validate="email" placeholder="Email Field" novalidate="novalidate">
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-5 control-label" for="user_phone">Phone Number:</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="linecons-mobile" /></span>
                                <input type="text" class="form-control" name="user_phone" ng-model="user.phoneNumber" inputmask data-mask="phone">
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">Security Groups</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" ng-repeat="role in rolesByUser">
                            <label class="col-sm-5 control-label" for="group_{{role.name}}">{{role.name}}</label>
                            <div class="col-sm-7">
                                <input type="checkbox" id="group_{{role.name}}" class="form-control iswitch-secondary" name="role.name" ng-checked="role.isMember" ng-model="role.isMember">
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>

