<div id="screenTop"></div>
<page-title ng-if="layoutOptions.pageTitles" title="User Accounts" description=""></page-title>


<script type="text/ng-template" id="delete-user-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Delete User</h4>
	</div>
	
	<div class="modal-body form-horizontal">
		Are you sure you want to delete this user: <b><i>{{deleteModalText}}</i></b>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cancel</button>
		<button type="button" class="btn btn-danger" ng-click="currentModal.dismiss('delete');">Delete</button>
	</div>
</script>

<div ng-controller="adminController">

    <div class="panel panel-default">
        <div class="panel-heading">
            <br />
            <div class="col-md-12">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
						</alert>
            </div>
            <h3 class="panel-title"><i class="fa-users"></i>&nbsp&nbspUsers</h3>
            <!--<div class="pull-right isn-panel-pull-right" ng-show="checkPolicy('/app/admin-users',1,1,1,1)"> CHECK POLICY-->
            <div class="pull-right">
                <div class="btn btn-secondary" ng-click="newUser()" scroll-to="screenEdit">New</div>
            </div>
        </div>
        <div class="panel-body">
            <!--<table datatable="" id="users_table" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table-condensed focus-on row-border hover table table-striped table-bordered">
		   -->
            <table id="usersTable" datatable="ng" class="hover table table-small-font table-bordered table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr role="row">
                        <th>User Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                    <tr ng-repeat="user in users | filter:search_txt " scroll-to="screenEdit" ng-click="edit(user.userName)">
                        <td>{{user.userName}}</td>
                        <td>{{user.phoneNumber}}</td>
                        <td>{{user.email}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default" ng-style="hideEditForm">
        <div id="screenEdit"></div>
        <form role="form" id="new_users_form" class="form-horizontal validate" ng-show="selectedUser.id==null">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{formTitle}}</h3>

                    <div class="pull-right isn-panel-pull-right">
                        <div class="btn btn-white" ng-click="cancel()" scroll-to="screenTop">Cancel</div>
                    </div>
                    <div class="pull-right isn-panel-pull-right pull-right-stack">
                        <div type="submit" class="btn btn-primary" ng-class="{true: 'disabled', false: ''}[user_modified == false]" ng-click="saveUser()" scroll-to="screenTop">Save<span ng-show="user.is_saving">&nbsp&nbsp<i class=""><span class="fa fa-spin fa-cog"></span></i></span></div>
                    </div>
                    <div ng-show="user_modified" class="control-label changes-pending pull-right pull-right-stack isn-panel-pull-right">
                        Changes Pending
                    </div>
                </div>
                <div class="panel-body">
                    <alert type="success" ng-show="updateUserSuccess" close="updateUserSuccess = false">
						<strong>Success!</strong> {{updateUserSuccessMessage}}
					</alert>
                    <alert type="danger" ng-show="updateUserPasswordMatchError" close="updateUserPasswordMatchError = false">
						<strong>Error!</strong> Password Fields Must Match!
					</alert>
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="user_username">Username:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="user_username" ng-model="user.userName" data-validate="required" placeholder="Username. Required for login.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="user_password">Password:</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" name="user_password" ng-model="user.password" data-validate="required" placeholder="Password field is required.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="user_confirm_password">Confirm Password:</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" name="user_confirm_password" ng-model="user.confirmPassword" data-validate="required" placeholder="Confirm Password field is required.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="user_email">Email:</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="user_email" ng-model="user.email" data-validate="email" placeholder="Email Field">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="user_active">active:</label>
                        <div class="col-sm-7">
                            <input type="checkbox" class="form-control iswitch-secondary" name="user_active" ng-checked="user.active" ng-model="user.active">
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Security Groups</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group" ng-repeat="group in user.groups">
                        <label class="col-sm-5 control-label" for="group_{{group.id}}">{{group.name}}</label>
                        <div class="col-sm-7">
                            <input type="checkbox" id="group_{{group.id}}" class="form-control iswitch-secondary" name="group.member" ng-checked="group.member" ng-model="group.member">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--<form role="form" id="users_form" class="form-horizontal validate" ng-show="selectedUser.id!=null">
			<fieldset ng-disabled="!checkPolicy('/app/admin-users',0,1,1,0)">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title lighter-weight-title">Edit <b><i>{{user.username}}</i></b></h3>
						
						<div class="pull-right isn-panel-pull-right" ng-show="checkPolicy('/app/admin-users',0,1,1,0)">
							<div class="btn btn-white" ng-click="cancelUser()">Cancel</div>
						</div>
						<div class="pull-right pull-right-stack isn-panel-pull-right" ng-show="checkPolicy('/app/admin-users',1,1,1,1)">
							<div type="submit" class="btn btn-danger" ng-click="deleteUser('delete-user-modal','md')">Delete</div>
						</div>
						<div class="pull-right pull-right-stack isn-panel-pull-right" ng-show="checkPolicy('/app/admin-users',0,1,1,0)">
							<div type="submit" class="btn btn-primary" ng-class="{true: 'disabled', false: ''}[user_modified == false]" ng-click="saveUser()">Save<span ng-show="user.is_saving">&nbsp&nbsp<i class=""><span class="fa fa-spin fa-cog"></span></i></span></div>
						</div>
						<div ng-show="user_modified" class="control-label changes-pending pull-right pull-right-stack isn-panel-pull-right">
							Changes Pending
						</div>
					</div>
					<div class="panel-body">
						<alert type="success" ng-show="updateUserSuccess" close="updateUserSuccess = false" >
							<strong>Success!</strong> {{updateUserSuccessMessage}}
						</alert>
						<alert type="danger" ng-show="updateUserPasswordMatchError" close="updateUserPasswordMatchError = false" >
							<strong>Error!</strong> Password Fields Must Match!
						</alert>
						<div class="form-group">
							<label class="col-sm-5 control-label" for="user_first_name">First Name:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="user_first_name" ng-model="user.firstname" >
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label" for="user_last_name">Last Name:</label>
	
							<div class="col-sm-7">
								<input type="text" class="form-control" name="user_last_name" ng-model="user.lastname" >
							</div>
						</div>
						<div class="form-group" >
							<label class="col-sm-5 control-label" for="user_password">Password:</label>
							<div class="col-sm-7">
								<input type="password" class="form-control" name="user_password" ng-model="user.password" placeholder="Modify Password.">
							</div>
						</div>
						<div class="form-group" ng-show="user.password!=null&&user.password!=''">
							<label class="col-sm-5 control-label" for="user_confirm_password">Confirm Password:</label>
							<div class="col-sm-7">
								<input type="password" class="form-control" name="user_confirm_password" ng-model="user.confirm_password" placeholder="Confirm Password field is required.">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label" for="user_email">Email:</label>
	
							<div class="col-sm-7">
								<input type="text" class="form-control" name="user_email" ng-model="user.email"  data-validate="email" placeholder="Email Field">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label" for="user_active">active:</label>
							<div class="col-sm-7">
								<input type="checkbox" class="form-control iswitch-secondary" name="user_active" ng-checked="user.active" ng-model="user.active">
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h3 class="panel-title">Security Groups</h3>
					</div>
					<div class="panel-body">
						<div class="form-group" ng-repeat="group in user.groups">
							<label class="col-sm-5 control-label" for="group_{{group.id}}">{{group.name}}</label>
							<div class="col-sm-7">
								<input type="checkbox" id="Checkbox1" class="form-control iswitch-secondary" name="group.member" ng-checked="group.member" ng-model="group.member">
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</form>-->
</div>

