<div class="settings-pane">

    <a href="" data-toggle="settings-pane" ng-click="settingsPaneToggle()">&times;
    </a>

    <div class="settings-pane-inner">

        <div class="row">

            <div class="col-md-4">

                <div class="user-info">

                    <div class="user-image">
                        <a href="extra-profile.html">
                            <img src="assets/images/user-2.png" class="img-responsive img-circle" />
                        </a>
                    </div>

                    <div class="user-details" ng-controller="loginController">

                        <h3>
                            <a href="extra-profile.html">{{currentUser}}</a>

                            <!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
                            <span class="user-status is-online"></span>
                        </h3>

                        <p class="user-title">{{currentRole}}</p>

<!--                        <div class="user-links">
                            <a href="#/app/extra-profile" class="btn btn-primary">Edit Profile</a>
                        </div>-->

                    </div>

                </div>

            </div>

            <div class="col-md-8 link-blocks-env">

                <div class="links-block left-sep">
                    <h4>
                        <span>Now Management Studio  v1.0</span>
                    </h4>

                    <ul class="list-unstyled">
                        <li>
                            <a href="http://www.isystemsnow.com">&copy 2015  iSystemsNow</a>
                        </li>
                        <li>iSystemsNow is a division of</li>
                        <li>Intelligent Systems Now Inc.</li>

                    </ul>
                </div>

                <div class="links-block left-sep">
                    <h4>
                        <a href="">
                            <span>Contact</span>
                        </a>
                    </h4>

                    <ul class="list-unstyled">
                        <li>1-519-279-6485</li>
                        <li>420 Weber Street North, Unit 100</li>
                        <li>Waterloo, ON N2L 4E7, Canada</li>

                    </ul>
                </div>

            </div>

        </div>

    </div>

</div>
